<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="آرماتورهای استاپ موشن مخصوص انیمیت و آموزش">
  <meta name="keywords" content="آرماتور,  استاپموشن, انیمیت">
  <meta name="author" content="">

  <link rel="stylesheet" href="/css/aos.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/responsiv.css">
  <link rel="icon" type="image/x-icon" href="/images/logo.svg">


  <title>درباره‌ی ما</title>
</head>
<body>
  <!-- ----------------------------------------------------------------------- -->
  <!--                                 NAVBAR                                  -->
  <!-- ----------------------------------------------------------------------- -->


  <script src="/layouts/nav.js"></script>


<!-- ----------------------------------------------------------------------- -->
<!--                                MAIN-PART                                -->
<!-- ----------------------------------------------------------------------- -->
<main class="outerPart">
  <header><h1>درباره‌ی آرتامن</h1></header>
  <article class="innerPart">
  
<header>
<h2>تاریخچه</h2>
</header>
<section>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint cumque exercitationem tempore quis soluta porro a, obcaecati magni quidem natus molestiae laboriosam quod sed distinctio, dolore vel. Dolorum, rerum cum.</p>
</section>
  </article>


  <article class="innerPart">
    <header>
    <h2>اهداف</h2>
    </header>
    <section>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint cumque exercitationem tempore quis soluta porro a, obcaecati magni quidem natus molestiae laboriosam quod sed distinctio, dolore vel. Dolorum, rerum cum.</p>
    </section>
      </article>

      <article class="innerPart">
        <header>
        <h2>چشم انداز</h2>
        </header>
        <section>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint cumque exercitationem tempore quis soluta porro a, obcaecati magni quidem natus molestiae laboriosam quod sed distinctio, dolore vel. Dolorum, rerum cum.</p>
        </section>
          </article>
        
</main>




  <!-- ----------------------------------------------------------------------- -->
  <!--                                 FOOTER                                  -->
  <!-- ----------------------------------------------------------------------- -->

  <script src="/layouts/footer.js"></script>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 SCRIPTS                                 -->
  <!-- ----------------------------------------------------------------------- -->
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  <script src="/js/script.js"></script>

</body>

</html>