<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="آرماتورهای استاپ موشن مخصوص انیمیت و آموزش">
  <meta name="keywords" content="آرماتور,  استاپموشن, انیمیت">
  <meta name="author" content="">

  <link rel="stylesheet" href="/css/aos.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />


  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/responsiv.css">
  <link rel="icon" type="image/x-icon" href="/images/logo.svg">


  <title>تماس با ما</title>
</head>
<body>
  <!-- ----------------------------------------------------------------------- -->
  <!--                                 NAVBAR                                  -->
  <!-- ----------------------------------------------------------------------- -->
 
  <script src="/layouts/nav.js"></script>


<!-- ----------------------------------------------------------------------- -->
<!--                                MAIN-PART                                -->
<!-- ----------------------------------------------------------------------- -->
<main class="myContentPage-outerPart myAboutPage-outerPart">
  <header><h1>تماس با آرتامن</h1></header>
  <article class="myAboutPage-innerPart">
<header>
<h2>تلفن</h2>
</header>
<section class="myContentPage-phoneNumbers">

  <p>پشتیبانی:
    <a href=""> 02637850451</a>
    </p>

  <p>مشاوره فروش:
    <a href=""> 02637850452</a>
    </p>

</section>
  </article>


  <article class="myAboutPage-innerPart">
    <header>
    <h2> آدرس</h2>
    </header>
    <section>
          <p>دفتر فروش: تهران ماهدشت، شهرک صنعتی پیام، خیابان سرداران، خیابان ششم شمالی، پلاک 16</p>
<p>کارخانه: کرج، ماهدشت، شهرک صنعتی پیام، خیابان سرداران، خیابان ششم شمالی، پلاک 16</p>
    </section>
      </article>

      <article class="myAboutPage-innerPart">
        <header>
        <h2>پست الکترونیکی</h2>
        </header>
        <section>
          <a class="myFooter-emailIcone" href="mailto:artaamane@gmail.com">
            <i data-width="25" class="iconify" data-icon="ant-design:mail-outlined"></i>
            
            artaamane@gmail.com
          </a>
       
        </section>
          </article>

      <article class="myAboutPage-innerPart">
        <header>
        <h2>شبکه‌های مجازی</h2>
        </header>
        <section class="myContentPage-iconify">
          <a href="">
            <span  class="iconify" data-icon="iconoir:telegram-circled" data-width="25"></span>
            artaman_co
          </a>
          <a href ="https://www.instagram.com/artaman_co/">
          <span class="iconify" data-icon="lucide:instagram" data-width="25"></span>
          artaman_co
          </a>
          <a href="">
            <span class="iconify" data-icon="ic:twotone-whatsapp" data-width="28"></span>
            09909890646
          </a>
     
        </section>
          </article>
        
</main>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 FOOTER                                  -->
  <!-- ----------------------------------------------------------------------- -->
  <div class="google-map" >
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.515589442162!2d50.89746143142727!3d35.664304682863275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8d911392c5ae41%3A0x35b3a4b7458a8870!2z2q_YsdmI2Ycg2LXZhti52KrbjCDZvtuM2YTZhyDZiNix!5e0!3m2!1sfa!2s!4v1626468814721!5m2!1sfa!2s"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>

  <script src="/layouts/footer.js"></script>


  <!-- ----------------------------------------------------------------------- -->
  <!--                                 SCRIPTS                                 -->
  <!-- ----------------------------------------------------------------------- -->
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  <script src="/js/script.js"></script>

</body>

</html>