<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="آرماتورهای استاپ موشن مخصوص انیمیت و آموزش">
  <meta name="keywords" content="آرماتور,  استاپموشن, انیمیت">
  <meta name="author" content="">

  <link rel="stylesheet" href="/css/aos.css">
  

  <link rel='stylesheet' href='/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/css/glightbox.css">

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/responsiv.css">
  <link rel="stylesheet" href="/css/galleryPage.css"> 

  <link rel="icon" type="image/x-icon" href="/images/logo.svg">


  <title>Gallery</title>
</head>
<body>
  <!-- ----------------------------------------------------------------------- -->
  <!--                                 NAVBAR                                  -->
  <!-- ----------------------------------------------------------------------- -->
<script src="/layouts/nav.js"></script>
<!-- ----------------------------------------------------------------------- -->
<!--                             FILTER-GALLERY                              -->
<!-- ----------------------------------------------------------------------- -->
<main class="outerPart myGalleryPage">
  <header class="myMainTitle"><h1 data-aos="fade-up" >گالری تصاویر</h1></header>
  <div class="container myFilterGallery">
    <div class="row">
      <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div data-aos-delay="100" class="text-center" id="myBtn-wrapper">
          <button data-aos="fade-up" data-aos-delay="100" class="btn btn-default filter-button active" id="all" onclick="call(this.id)">همه</button>
          <button data-aos="fade-up" data-aos-delay="200" class="btn btn-default filter-button" id="map" onclick="call(this.id)">نقشه‌ها</button>
          <button data-aos="fade-up" data-aos-delay="300"class="btn btn-default filter-button" id="pieces" onclick="call(this.id)">قطعات</button>
        </div>
      </div>
 

      <a href="/images/MAP/WhatsApp Image 2021-12-12 at 1.19.53 AM (1).jpeg"
      data-glightbox="title: My title; description: this is the slide description"
        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter map">
        <img src="/images/MAP/WhatsApp Image 2021-12-12 at 1.19.53 AM (1).jpeg">
      </a>
      <a href="/images/MAP/WhatsApp Image 2021-12-12 at 1.19.53 AM.jpeg"
            data-glightbox="title: My title; description: this is the slide description"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter map">
        <img src="/images/MAP/WhatsApp Image 2021-12-12 at 1.19.53 AM.jpeg">
      </a>
      <a href="/images/MAP/WhatsApp Image 2021-12-12 at 1.19.54 AM.jpeg"
            data-glightbox="title: My title; description: this is the slide description"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter map">
        <img src="/images/MAP/WhatsApp Image 2021-12-12 at 1.19.54 AM.jpeg">
      </a>
      <a href="/images/MAP/WhatsApp Image 2021-12-12 at 1.19.55 AM (1).jpeg"
            data-glightbox="title: My title; description: this is the slide description"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter map">
        <img src="/images/MAP/WhatsApp Image 2021-12-12 at 1.19.55 AM (1).jpeg">
      </a>
      <a href="/images/MAP/WhatsApp Image 2021-12-12 at 1.19.55 AM.jpeg"
            data-glightbox="title: My title; description: this is the slide description"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter map">
        <img src="/images/MAP/WhatsApp Image 2021-12-12 at 1.19.55 AM.jpeg">
      </a>

      <a href="/images/PHOTOS/WhatsApp Image 2021-12-12 at 1.08.49 AM.jpeg"
            data-glightbox="title: My title; description: this is the slide description"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
        <img src="/images/PHOTOS/WhatsApp Image 2021-12-12 at 1.08.49 AM.jpeg">
      </a>
      <a href="/images/PHOTOS/WhatsApp Image 2021-12-12 at 1.08.49 AM.jpeg"
            data-glightbox="title: My title; description: this is the slide description"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
        <img src="/images/PHOTOS/WhatsApp Image 2021-12-12 at 1.08.49 AM.jpeg">
      </a>
      <a href="/images/PHOTOS/WhatsApp Image 2021-12-12 at 1.08.49 AM.jpeg"
            data-glightbox="title: My title; description: this is the slide description"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
        <img src="/images/PHOTOS/WhatsApp Image 2021-12-12 at 1.08.49 AM.jpeg">
      </a>
      <a href="/images/PHOTOS/WhatsApp Image 2021-12-12 at 1.08.49 AM.jpeg"
            data-glightbox="title: My title; description: this is the slide description"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
        <img src="/images/PHOTOS/WhatsApp Image 2021-12-12 at 1.08.49 AM.jpeg">
      </a>
      <a href="/images/PHOTOS/WhatsApp Image 2021-12-12 at 1.08.49 AM.jpeg"
            data-glightbox="title: My title; description: this is the slide description"

        class="glightbox gallery_product  col-lg-4 col-md-6 col-sm-12  filter pieces">
        <img src="/images/PHOTOS/WhatsApp Image 2021-12-12 at 1.08.49 AM.jpeg">
      </a>
    </div>
  </div>
  <div class="backBtnWrapper">
    
    <a data-aos="fade-up"  class="myBackBtn" onclick="history.back()">بازگشت به صفحه‌ی قبل</a>
  </div>
</main>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 FOOTER                                  -->
  <!-- ----------------------------------------------------------------------- -->
 <script src="/layouts/footer.js"></script>

  <!-- ----------------------------------------------------------------------- -->
  <!--                                 SCRIPTS                                 -->
  <!-- ----------------------------------------------------------------------- -->
  
  
  <script src="/js/jquery.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/glightbox.min.js"></script>
  <script src="/js/galleryPage.js"></script>

  

</body>

</html>