<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="آرماتورهای استاپ موشن مخصوص انیمیت و آموزش">
    <meta name="keywords" content="آرماتور,  استاپموشن, انیمیت">
    <meta name="author" content="">
    
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsiv.css">
    <link rel="stylesheet" href="/css/newsPage.css">

    <link rel="icon" type="image/x-icon" href="/images/logo.svg">

    <title>
        <%= article.title %>
    </title>
</head>

<body>

    <!-- ----------------------------------------------------------------------- -->
    <!--                                 NAVBAR                                  -->
    <!-- ----------------------------------------------------------------------- -->
        <script src="/layouts/nav.js"></script>
<!-- ----------------------------------------------------------------------- -->
<!--                                MAIN-PART                                -->
<!-- ----------------------------------------------------------------------- -->
<main class="myNews-outerPart">
    <article class="myNews-myArticle">
        <header class="myNews-header">
            <h1> <%= article.title %></h1>
            <span>تاریخ:12-12-400</span>
        </header>
        
       
          <figure class="myNews-figure">
		 <img src="<%= article.img %>">
         
			<figcaption class="myNews-figureCapion">
                  <%= article.desc %>
            </figcaption>
		</figure>
        <div class="shareIcones" >
            <a > <span  class="iconify"  data-width="32" data-icon="carbon:share"></span></a>
            <a> <span class="iconify"    data-width="32"data-icon="iconoir:instagram"></span> </a>
            <a> <span class="iconify"   data-width="32"data-icon="ic:round-whatsapp"></span></a>
            <a> <span class="iconify"   data-width="32"data-icon="iconoir:telegram-circled"></span> </a>
            </div> 
      </article>
      <aside>
        <section class="mySlideshow-wrapper">
            <h4>
        
         مطالب مشابه
        
            </h4>
            <div  class="owl-carousel owl-theme mainWrapper " id="relatedNews">
              <div class="mySlideshow-item mySlideShow-itemWrapper" data-aos="fade-up">
                <a href="/singleNewsPage.ejs/">
                <img src="/images/logo-grey.svg" alt="news image">
                <div class="mySlideShow-info ">
                  <small>تاریخ</small>
                  <h3>
                      <span>چگونه استاپ موشن بسازیم؟</span>
                      <p>
                        در فرایند تهیه استاپ موشن بهتر است که دوربین خود را در مکانی ثابت و به دور از لرزش قرار دهید. کار بهتر می تواند محکم کردن جای آن با وزنه های مخصوص باشد. باید بدانید که در ساخت استاپ موشن کوچکترین حرکتی نیز به وضوح در محصول نهایی به چشم خواهد آمد. بنابراین لازم است که به هنگام عکسبرداری با دوربین یا گوشی از کنترلر از راه دور استفاده کنید یا تنظیمات عکسبرداری خودکار با تایمر را فعال کنید. سعی کنید به جای نور خورشید از نور چراغ یا پروژکتور استفاده کنید، چراکه همانطور که باید بدانید ساخت استاپ موشن فرایندی زمان بر است و در طول روز تغییرات نور خورشید می تواند مستقیما بر کار شما تاثیر منفی بگذارد. اما یک منبع نور مصنوعی می تواند تا ساعت ها در دسترس شما باشد. به علاوه حین عکس برداری باید حواستان به سایه ایجاد شده توسط خود یا اشیا اطراف باشد. این سایه ها حین ساخت استاپ موشن می تواند نامرئی و کمرنگ به نظر بیاید ولی نهایتا حین تدوین عکسها در رنگ فریم ها موثر باشد. برای نتیجه بهتر الزامی است که علاوه بر نکات گفته شده پشت صحنه ثابتی نیز داشته باشید. برای اینکار می توان از یک پرده عکاسی یا کاغذ تک رنگ استفاده کرد.

                      </p>                    </a>
                  </h3>
                </div>
              </div>
              <div class="mySlideshow-item mySlideShow-itemWrapper" data-aos="fade-up">
                <a href="/singleNewsPage.ejs/">
                <img src="/images/logo-grey.svg" alt="news image">
                <div class="mySlideShow-info ">
                  <small>تاریخ</small>
                  <h3>
                      <span>چگونه استاپ موشن بسازیم؟</span>
                      <p>
                        در فرایند تهیه استاپ موشن بهتر است که دوربین خود را در مکانی ثابت و به دور از لرزش قرار دهید. کار بهتر می تواند محکم کردن جای آن با وزنه های مخصوص باشد. باید بدانید که در ساخت استاپ موشن کوچکترین حرکتی نیز به وضوح در محصول نهایی به چشم خواهد آمد. بنابراین لازم است که به هنگام عکسبرداری با دوربین یا گوشی از کنترلر از راه دور استفاده کنید یا تنظیمات عکسبرداری خودکار با تایمر را فعال کنید. سعی کنید به جای نور خورشید از نور چراغ یا پروژکتور استفاده کنید، چراکه همانطور که باید بدانید ساخت استاپ موشن فرایندی زمان بر است و در طول روز تغییرات نور خورشید می تواند مستقیما بر کار شما تاثیر منفی بگذارد. اما یک منبع نور مصنوعی می تواند تا ساعت ها در دسترس شما باشد. به علاوه حین عکس برداری باید حواستان به سایه ایجاد شده توسط خود یا اشیا اطراف باشد. این سایه ها حین ساخت استاپ موشن می تواند نامرئی و کمرنگ به نظر بیاید ولی نهایتا حین تدوین عکسها در رنگ فریم ها موثر باشد. برای نتیجه بهتر الزامی است که علاوه بر نکات گفته شده پشت صحنه ثابتی نیز داشته باشید. برای اینکار می توان از یک پرده عکاسی یا کاغذ تک رنگ استفاده کرد.

                      </p>
                    </a>
                  </h3>
                </div>
            </div>
        
              <div class="mySlideshow-item mySlideShow-itemWrapper" data-aos="fade-up">
                <a href="/singleNewsPage.ejs/">
                <img src="/images/logo-grey.svg" alt="news image">
                <div class="mySlideShow-info ">
                  <small>تاریخ</small>
                  <h3>
                      <span>چگونه استاپ موشن بسازیم؟</span>
                      <p>
                        در فرایند تهیه استاپ موشن بهتر است که دوربین خود را در مکانی ثابت و به دور از لرزش قرار دهید. کار بهتر می تواند محکم کردن جای آن با وزنه های مخصوص باشد. باید بدانید که در ساخت استاپ موشن کوچکترین حرکتی نیز به وضوح در محصول نهایی به چشم خواهد آمد. بنابراین لازم است که به هنگام عکسبرداری با دوربین یا گوشی از کنترلر از راه دور استفاده کنید یا تنظیمات عکسبرداری خودکار با تایمر را فعال کنید. سعی کنید به جای نور خورشید از نور چراغ یا پروژکتور استفاده کنید، چراکه همانطور که باید بدانید ساخت استاپ موشن فرایندی زمان بر است و در طول روز تغییرات نور خورشید می تواند مستقیما بر کار شما تاثیر منفی بگذارد. اما یک منبع نور مصنوعی می تواند تا ساعت ها در دسترس شما باشد. به علاوه حین عکس برداری باید حواستان به سایه ایجاد شده توسط خود یا اشیا اطراف باشد. این سایه ها حین ساخت استاپ موشن می تواند نامرئی و کمرنگ به نظر بیاید ولی نهایتا حین تدوین عکسها در رنگ فریم ها موثر باشد. برای نتیجه بهتر الزامی است که علاوه بر نکات گفته شده پشت صحنه ثابتی نیز داشته باشید. برای اینکار می توان از یک پرده عکاسی یا کاغذ تک رنگ استفاده کرد.

                      </p>
                    </a>
                  </h3>
                </div>
            </div>
              <div class="mySlideshow-item mySlideShow-itemWrapper" data-aos="fade-up">
                <a href="/singleNewsPage.ejs/">
                <img src="/images/logo-grey.svg" alt="news image">
                <div class="mySlideShow-info ">
                  <small>تاریخ</small>
                  <h3>
                      <span>چگونه استاپ موشن بسازیم؟</span>
                      <p>
                        در فرایند تهیه استاپ موشن بهتر است که دوربین خود را در مکانی ثابت و به دور از لرزش قرار دهید. کار بهتر می تواند محکم کردن جای آن با وزنه های مخصوص باشد. باید بدانید که در ساخت استاپ موشن کوچکترین حرکتی نیز به وضوح در محصول نهایی به چشم خواهد آمد. بنابراین لازم است که به هنگام عکسبرداری با دوربین یا گوشی از کنترلر از راه دور استفاده کنید یا تنظیمات عکسبرداری خودکار با تایمر را فعال کنید. سعی کنید به جای نور خورشید از نور چراغ یا پروژکتور استفاده کنید، چراکه همانطور که باید بدانید ساخت استاپ موشن فرایندی زمان بر است و در طول روز تغییرات نور خورشید می تواند مستقیما بر کار شما تاثیر منفی بگذارد. اما یک منبع نور مصنوعی می تواند تا ساعت ها در دسترس شما باشد. به علاوه حین عکس برداری باید حواستان به سایه ایجاد شده توسط خود یا اشیا اطراف باشد. این سایه ها حین ساخت استاپ موشن می تواند نامرئی و کمرنگ به نظر بیاید ولی نهایتا حین تدوین عکسها در رنگ فریم ها موثر باشد. برای نتیجه بهتر الزامی است که علاوه بر نکات گفته شده پشت صحنه ثابتی نیز داشته باشید. برای اینکار می توان از یک پرده عکاسی یا کاغذ تک رنگ استفاده کرد.

                      </p>
                    </a>
                  </h3>
                </div>
            </div>
              <div class="mySlideshow-item mySlideShow-itemWrapper" data-aos="fade-up">
                <a href="/singleNewsPage.ejs/">
                <img src="/images/logo-grey.svg" alt="news image">
                <div class="mySlideShow-info ">
                  <small>تاریخ</small>
                  <h3>
                      <span>چگونه استاپ موشن بسازیم؟</span>
                      <p>
                        در فرایند تهیه استاپ موشن بهتر است که دوربین خود را در مکانی ثابت و به دور از لرزش قرار دهید. کار بهتر می تواند محکم کردن جای آن با وزنه های مخصوص باشد. باید بدانید که در ساخت استاپ موشن کوچکترین حرکتی نیز به وضوح در محصول نهایی به چشم خواهد آمد. بنابراین لازم است که به هنگام عکسبرداری با دوربین یا گوشی از کنترلر از راه دور استفاده کنید یا تنظیمات عکسبرداری خودکار با تایمر را فعال کنید. سعی کنید به جای نور خورشید از نور چراغ یا پروژکتور استفاده کنید، چراکه همانطور که باید بدانید ساخت استاپ موشن فرایندی زمان بر است و در طول روز تغییرات نور خورشید می تواند مستقیما بر کار شما تاثیر منفی بگذارد. اما یک منبع نور مصنوعی می تواند تا ساعت ها در دسترس شما باشد. به علاوه حین عکس برداری باید حواستان به سایه ایجاد شده توسط خود یا اشیا اطراف باشد. این سایه ها حین ساخت استاپ موشن می تواند نامرئی و کمرنگ به نظر بیاید ولی نهایتا حین تدوین عکسها در رنگ فریم ها موثر باشد. برای نتیجه بهتر الزامی است که علاوه بر نکات گفته شده پشت صحنه ثابتی نیز داشته باشید. برای اینکار می توان از یک پرده عکاسی یا کاغذ تک رنگ استفاده کرد.

                      </p>
                    </a>
                  </h3>
                </div>
            </div>
              <div class="mySlideshow-item mySlideShow-itemWrapper" data-aos="fade-up">
                <a href="/singleNewsPage.ejs/">
                <img src="/images/logo-grey.svg" alt="news image">
                <div class="mySlideShow-info ">
                  <small>تاریخ</small>
                  <h3>
                      <span>چگونه استاپ موشن بسازیم؟</span>
                      <p>
                        در فرایند تهیه استاپ موشن بهتر است که دوربین خود را در مکانی ثابت و به دور از لرزش قرار دهید. کار بهتر می تواند محکم کردن جای آن با وزنه های مخصوص باشد. باید بدانید که در ساخت استاپ موشن کوچکترین حرکتی نیز به وضوح در محصول نهایی به چشم خواهد آمد. بنابراین لازم است که به هنگام عکسبرداری با دوربین یا گوشی از کنترلر از راه دور استفاده کنید یا تنظیمات عکسبرداری خودکار با تایمر را فعال کنید. سعی کنید به جای نور خورشید از نور چراغ یا پروژکتور استفاده کنید، چراکه همانطور که باید بدانید ساخت استاپ موشن فرایندی زمان بر است و در طول روز تغییرات نور خورشید می تواند مستقیما بر کار شما تاثیر منفی بگذارد. اما یک منبع نور مصنوعی می تواند تا ساعت ها در دسترس شما باشد. به علاوه حین عکس برداری باید حواستان به سایه ایجاد شده توسط خود یا اشیا اطراف باشد. این سایه ها حین ساخت استاپ موشن می تواند نامرئی و کمرنگ به نظر بیاید ولی نهایتا حین تدوین عکسها در رنگ فریم ها موثر باشد. برای نتیجه بهتر الزامی است که علاوه بر نکات گفته شده پشت صحنه ثابتی نیز داشته باشید. برای اینکار می توان از یک پرده عکاسی یا کاغذ تک رنگ استفاده کرد.

                      </p>
                    </a>
                  </h3>
                </div>
            </div>
              <div class="mySlideshow-item mySlideShow-itemWrapper" data-aos="fade-up">
                <a href="/singleNewsPage.ejs/">
                <img src="/images/logo-grey.svg" alt="news image">
                <div class="mySlideShow-info ">
                  <small>تاریخ</small>
                  <h3>
                      <span>چگونه استاپ موشن بسازیم؟</span>
                      <p>
                        در فرایند تهیه استاپ موشن بهتر است که دوربین خود را در مکانی ثابت و به دور از لرزش قرار دهید. کار بهتر می تواند محکم کردن جای آن با وزنه های مخصوص باشد. باید بدانید که در ساخت استاپ موشن کوچکترین حرکتی نیز به وضوح در محصول نهایی به چشم خواهد آمد. بنابراین لازم است که به هنگام عکسبرداری با دوربین یا گوشی از کنترلر از راه دور استفاده کنید یا تنظیمات عکسبرداری خودکار با تایمر را فعال کنید. سعی کنید به جای نور خورشید از نور چراغ یا پروژکتور استفاده کنید، چراکه همانطور که باید بدانید ساخت استاپ موشن فرایندی زمان بر است و در طول روز تغییرات نور خورشید می تواند مستقیما بر کار شما تاثیر منفی بگذارد. اما یک منبع نور مصنوعی می تواند تا ساعت ها در دسترس شما باشد. به علاوه حین عکس برداری باید حواستان به سایه ایجاد شده توسط خود یا اشیا اطراف باشد. این سایه ها حین ساخت استاپ موشن می تواند نامرئی و کمرنگ به نظر بیاید ولی نهایتا حین تدوین عکسها در رنگ فریم ها موثر باشد. برای نتیجه بهتر الزامی است که علاوه بر نکات گفته شده پشت صحنه ثابتی نیز داشته باشید. برای اینکار می توان از یک پرده عکاسی یا کاغذ تک رنگ استفاده کرد.

                      </p>
                    </a>
                  </h3>
                </div>
            </div>
              <div class="mySlideshow-item mySlideShow-itemWrapper" data-aos="fade-up">
                <a href="/singleNewsPage.ejs/">
                <img src="/images/logo-grey.svg" alt="news image">
                <div class="mySlideShow-info ">
                  <small>تاریخ</small>
                  <h3>
                      <span>چگونه استاپ موشن بسازیم؟</span>
                      <p>
                        در فرایند تهیه استاپ موشن بهتر است که دوربین خود را در مکانی ثابت و به دور از لرزش قرار دهید. کار بهتر می تواند محکم کردن جای آن با وزنه های مخصوص باشد. باید بدانید که در ساخت استاپ موشن کوچکترین حرکتی نیز به وضوح در محصول نهایی به چشم خواهد آمد. بنابراین لازم است که به هنگام عکسبرداری با دوربین یا گوشی از کنترلر از راه دور استفاده کنید یا تنظیمات عکسبرداری خودکار با تایمر را فعال کنید. سعی کنید به جای نور خورشید از نور چراغ یا پروژکتور استفاده کنید، چراکه همانطور که باید بدانید ساخت استاپ موشن فرایندی زمان بر است و در طول روز تغییرات نور خورشید می تواند مستقیما بر کار شما تاثیر منفی بگذارد. اما یک منبع نور مصنوعی می تواند تا ساعت ها در دسترس شما باشد. به علاوه حین عکس برداری باید حواستان به سایه ایجاد شده توسط خود یا اشیا اطراف باشد. این سایه ها حین ساخت استاپ موشن می تواند نامرئی و کمرنگ به نظر بیاید ولی نهایتا حین تدوین عکسها در رنگ فریم ها موثر باشد. برای نتیجه بهتر الزامی است که علاوه بر نکات گفته شده پشت صحنه ثابتی نیز داشته باشید. برای اینکار می توان از یک پرده عکاسی یا کاغذ تک رنگ استفاده کرد.

                      </p>
                    </a>
                  </h3>
                </div>
            </div>
        
        
        
          </section>
        
      </aside>
      
</main>




    <!-- ----------------------------------------------------------------------- -->
    <!--                                 FOOTER                                  -->
    <!-- ----------------------------------------------------------------------- -->
        <script src="/layouts/footer.js"></script>



    <!-- ----------------------------------------------------------------------- -->
    <!--                                 SCRIPTS                                 -->
    <!-- ----------------------------------------------------------------------- -->
     
    <!-- Swiper JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/newsScripts.js"></script>
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    

    <script>

        $("#relatedNews").owlCarousel({
          rtl: true,
          autoplay: false,
          margin: 20,
        //   merge: true,
        // center:true,
          responsiveClass: true,
          responsive: {
            0: {
              items: 1,
            },
            475:{
                items:2,
            },
         
            768: {
              items: 3,
            },
            900: {
              items: 4,
            },
          },
        });
            </script>

</body>

</html>